<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        /*background-image: url("/assets/img/gambar.png");
        background-repeat: no-repeat;
        background-position: right top;
        /*background-attachment: fixed;
        background-attachment: scroll;*/
        background: #ffff url("/assets/img/gambar.png") no-repeat right top
          scroll;
      }
    </style>
  </head>
  <body>
    <ol>
      <h1>
        Saat menggunakan properti singkatan, urutan nilai properti adalah:
      </h1>
      <li>background-color</li>
      <li>background-image</li>
      <li>background-repeat</li>
      <li>background-attachment</li>
      <li>background-position</li>
      <h2>Contoh</h2>
      <p>
        background: #ffff url("/assets/img/gambar.png") no-repeat right top
        scroll;
      </p>
    </ol>
  </body>
</html>
